In [5]:
import pandas as pd

In [6]:
import tabula

In [7]:
pdf_path = "union_mem_by_state_21-22.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))
dfs[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

1

,Unnamed: 0,Unnamed: 1,2021,Unnamed: 2,2022,Unnamed: 3
0,NaN,NaN,Members,NaN,Members,NaN
1,NaN,NaN,of Represented,NaN,of,Represented
2,NaN,NaN,unions(1) by unions(2),NaN,unions(1),by unions(2)
3,NaN,NaN,Percent Percent,NaN,Percent,Percent
4,NaN,Total,of of,Total,of,of
5,State,employed,Total employed Total employed,employed,Total employed,Total employed
6,Alabama,"1,938",115 5.9 133 6.9,"2,066",149 7.2,173 8.4
7,Alaska,293,46 15.8 50 17.2,298,48 16.0,52 17.3
8,Arizona,"3,116",167 5.4 208 6.7,"3,061",169 5.5,189 6.2
9,Arkansas,"1,167",46 3.9 51 4.4,"1,204",59 4.9,68 5.7
10,California,"15,497","2,468 15.9 2,757 17.8","16,240","2,617 16.1","2,856 17.6"
11,Colorado,"2,538",165 6.5 192 7.5,"2,672",178 6.7,201 7.5
12,Connecticut,"1,524",223 14.6 248 16.3,"1,658",236 14.2,256 15.4
13,Delaware,435,42 9.7 44 10.2,442,38 8.5,42 9.4
14,District of Columbia,350,31 8.9 35 9.9,331,30 9.1,34 10.4
15,Florida,"8,667",448 5.2 529 6.1,"9,100",414 4.5,511 5.6
16,Georgia,"4,404",211 4.8 256 5.8,"4,521",200 4.4,244 5.4
17,Hawaii,541,121 22.4 131 24.1,572,125 21.9,134 23.4
18,Idaho,767,36 4.7 42 5.5,825,39 4.7,49 5.9
19,Illinois,"5,397",752 13.9 818 15.2,"5,611",735 13.1,789 14.1
20,Indiana,"2,844",256 9.0 290 10.2,"3,023",223 7.4,260 8.6
21,Iowa,"1,428",93 6.5 118 8.3,"1,506",105 7.0,132 8.7
22,Kansas,"1,300",120 9.2 148 11.4,"1,318",129 9.8,160 12.1
23,Kentucky,"1,740",126 7.2 170 9.8,"1,791",141 7.9,185 10.3
24,Louisiana,"1,722",81 4.7 98 5.7,"1,801",76 4.2,94 5.2
25,Maine,563,70 12.4 83 14.7,527,48 9.2,61 11.5
26,Maryland,"2,689",295 11.0 332 12.3,"2,816",327 11.6,372 13.2
27,Massachusetts,"3,181",402 12.6 433 13.6,"3,241",413 12.7,447 13.8
28,Michigan,"4,047",540 13.3 620 15.3,"4,212",589 14.0,644 15.3
29,Minnesota,"2,608",416 16.0 446 17.1,"2,697",382 14.2,411 15.2
30,Mississippi,"1,080",59 5.5 74 6.9,"1,102",62 5.6,79 7.2
31,Missouri,"2,615",235 9.0 266 10.2,"2,681",257 9.6,284 10.6
32,Montana,438,49 11.2 56 12.9,466,52 11.2,57 12.3
33,Nebraska,896,61 6.8 72 8.0,923,60 6.5,74 8.1
34,Nevada,"1,249",153 12.2 176 14.1,"1,287",146 11.3,164 12.8
35,New Hampshire,643,65 10.1 73 11.3,687,70 10.1,77 11.2
36,New Jersey,"3,762",608 16.2 672 17.9,"4,161",619 14.9,666 16.0
37,New Mexico,770,58 7.5 70 9.1,806,71 8.8,86 10.6
38,New York,"7,770","1,729 22.2 1,869 24.1","8,124","1,679 20.7","1,795 22.1"
39,North Carolina,"4,225",108 2.6 142 3.4,"4,409",125 2.8,173 3.9
40,North Dakota,349,19 5.4 24 6.9,365,23 6.4,28 7.6
41,Footnotes,NaN,NaN,NaN,NaN,NaN
42,(1) Data refer to members of a labor union or ...,NaN,NaN,NaN,NaN,NaN
43,(2) Data refer to both union members and worke...,NaN,NaN,NaN,NaN,NaN
44,NOTE: Data refer to the sole or principal job ...,NaN,NaN,NaN,NaN,NaN
45,incorporated businesses as well as those with ...,NaN,NaN,NaN,NaN,NaN