In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_elec = pd.read_csv("/Users/erinmurphy/Desktop/Adv Projects in Viz/Final project/recent_election_results__2008-22.csv")

df_elec.head()

,Region,Case Number,Case Name,Status,Date Filed,Date Closed,Reason Closed,City,States & Territories,Unit ID,...,Votes Against,Total Ballots Counted,Runoff Required,Challenged Ballots,Challenges are Determinative,Union to Certify,Voting Unit (Unit A),Voting Unit (Unit B),Voting Unit (Unit C),Voting Unit (Unit D)
0,"Region 15, New Orleans, Louisiana",15-RC-308212,"First Student, Inc.",Closed,12/05/2022,01/09/2023,Certific. of Representative,Memphis,TN,A,...,NaN,3.0,NaN,NaN,NaN,Teamsters Local 667,Included: All full-time and regular part-time...,NaN,NaN,NaN
1,"Region 18, Minneapolis, Minnesota",18-RC-308305,"UNFI Wholesale, Inc.",Closed,12/05/2022,01/06/2023,Certification of Results,Hopkins,MN,A,...,1.0,9.0,NaN,NaN,NaN,Teamsters Local No. 120,All full-time and regular part-time inventory ...,NaN,NaN,NaN
2,"Region 13, Chicago, Illinois",13-RC-300655,Victory Gardens Theater,Open,08/03/2022,NaN,NaN,Chicago,IL,A,...,NaN,NaN,NaN,NaN,NaN,NaN,Included:\tAll full-time and regular part-time...,NaN,NaN,NaN
3,"Region 19, Seattle, Washington",19-RC-306228,Albany General Hospital d/b/a Samaritan Albany...,Closed,10/31/2022,01/09/2023,Certification of Results,Albany,OR,A,...,NaN,2.0,NaN,1.0,NaN,Oregon Nurses Association,Included: All full-time and regular part-time ...,NaN,NaN,NaN
4,"Region 20, San Francisco, California",20-RC-307019,Dignity Health d/b/a St. Mary’s Medical Center,Closed,11/14/2022,01/24/2023,Certification of Results,San Francisco,CA,A,...,4.0,30.0,NaN,NaN,NaN,"Service Employees International Union, United ...","All full-time, regular part-time, and per diem...",NaN,NaN,NaN

In [5]:
df_elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25505 entries, 0 to 25504
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Region                        25505 non-null  object
 1   Case Number                   25505 non-null  object
 2   Case Name                     25505 non-null  object
 3   Status                        25505 non-null  object
 4   Date Filed                    25505 non-null  object
 5   Date Closed                   25334 non-null  object
 6   Reason Closed                 25333 non-null  object
 7   City                          25505 non-null  object
 8   States & Territories          25505 non-null  object
 9   Unit ID                       25505 non-null  object
 10  Ballot Type                   25505 non-null  object
 11  Tally Type                    25504 non-null  object
 12  Tally Date                    25505 non-null  object
 13  No of Eligible Voters         25453 non-null  float64
 14  Void Ballots                  4374 non-null   float64
 15  Labor Union1                  25426 non-null  object
 16  Votes for Labor Union1        24499 non-null  float64
 17  Labor Union2                  1411 non-null   object
 18  Votes for Labor Union2        816 non-null    float64
 19  Labor Union3                  97 non-null     object
 20  Votes for Labor Union3        62 non-null     float64
 21  Votes Against                 20537 non-null  float64
 22  Total Ballots Counted         24828 non-null  float64
 23  Runoff Required               6863 non-null   object
 24  Challenged Ballots            9655 non-null   float64
 25  Challenges are Determinative  7930 non-null   object
 26  Union to Certify              16795 non-null  object
 27  Voting Unit (Unit A)          24549 non-null  object
 28  Voting Unit (Unit B)          720 non-null    object
 29  Voting Unit (Unit C)          585 non-null    object
 30  Voting Unit (Unit D)          497 non-null    object
dtypes: float64(8), object(23)
memory usage: 6.0+ MB

In [6]:
df_elec.describe()

,No of Eligible Voters,Void Ballots,Votes for Labor Union1,Votes for Labor Union2,Votes for Labor Union3,Votes Against,Total Ballots Counted,Challenged Ballots
count,25453.000000,4374.000000,24499.000000,816.000000,62.000000,20537.000000,24828.000000,9655.000000
mean,69.697324,4.036351,30.183722,87.276961,20.193548,26.098262,54.397213,5.686587
std,425.204643,25.788739,128.784942,921.963285,37.943806,64.382720,303.599639,24.032972
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,11.000000,1.000000,5.000000,4.000000,3.000000,4.000000,9.000000,1.000000
50%,26.000000,1.000000,12.000000,11.000000,7.000000,10.000000,21.000000,2.000000
75%,64.000000,3.000000,29.000000,33.000000,18.000000,25.000000,52.000000,5.000000
max,44919.000000,1222.000000,13101.000000,18844.000000,186.000000,2244.000000,32279.000000,1601.000000

In [7]:
df_elec.shape

(25505, 31)